.blue{
    color: #180c88;
}

.pershkrim{
    max-width: 500px;
    text-align: justify;
    font-size: 13px;
}
.card{
    width: 40%;
    min-height: 200px;
}

ul li{
    font-size: 12px;
}

i{
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    .mobile{
        display: block !important;
    }
    .card{
        width: 75%;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    ul li{
        font-size: 10px;
    }
    
    i{
        font-size: 18px;
    }

    .card{
        width: 100%;
    }
    .card img{
        width: 20px;
        height: 20px;
    }

    .card h4{
        font-size: 15px;
    }
}